  
.md-dialog-container {
    background-color: #000;
    width: 1000px;
    height: 700px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  mat-form-field {
    margin-bottom: 5px;
  }
  
  .row {
    text-align: center;
  }